{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="card shadow border-0">
        <div class="card-body">
            <h3 class="mb-4">Welcome, {{ user.username }}</h3>

            <div class="row text-center">
                <div class="col-md-6">
                    <div class="card p-4 shadow-sm">
                        <h5>Total Orders</h5>
                        <h2>{{ orders_count }}</h2>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card p-4 shadow-sm">
                        <h5>Total Refunds</h5>
                        <h2>{{ refund_count }}</h2>
                    </div>
                </div>
            </div>

            <div class="mt-4 text-center">
                <a href="{% url 'core:user_orders' %}" class="btn btn-dark">
                    View Orders
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}